<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.wemedia.mapper.WmAuthScanMapper">

    <resultMap id="resultMap" type="com.heima.model.wemedia.pojos.WmAuthScanVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="type" property="type"/>
        <result column="channel_id" property="channelId"/>
        <result column="labels" property="labels"/>
        <result column="created_time" property="createdTime"/>
        <result column="submited_time" property="submitedTime"/>
        <result column="status" property="status"/>
        <result column="publish_time" property="publishTime"/>
        <result column="reason" property="reason"/>
        <result column="article_id" property="articleId"/>
        <result column="images" property="images"/>
        <result column="enable" property="enable"/>
        <result column="name" property="authorName"/>
    </resultMap>

    <select id="findlist" resultMap="resultMap">
        SELECT
            wn.*,
            wu.name
        FROM
            `wm_news` wn,
            `wm_user` wu
        <where>
            and wn.user_id=wu.id
            <if test="dto.status != null">
            and wn.status = #{dto.status}
            </if>
            <if test="dto.title != null">
            and wn.title Like CONCAT(CONCAT('%', #{dto.title}),'%')
            </if>
        </where>
        order by wn.publish_time desc
</select>

    <select id="textDetail" resultMap="resultMap">
        SELECT
        wn.*,
        wu.name
        FROM
        `wm_news` wn,
        `wm_user` wu
        <where>
            and wn.id=#{id}
            and wn.user_id=wu.id
        </where>
    </select>
</mapper>